@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: "Roboto Mono", serif; */
}

html{
    scroll-behavior: smooth;
}

:root {
    --primary: #cda3fd;
    --secondary: #b97cff;
}

#main {
    position: relative;
}

nav {
    color: white;
    z-index: 10; 
    position: absolute;
    height: 70px;
    width: 100%;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.158); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3.2rem;
    font-weight: 410;
}
nav .menu{
    display: none;
}
.logo{
    color: var(--primary);
    text-decoration: none;
}
.nav-links{
    display: flex;
    gap: 1.6rem;
    overflow: hidden;
}
.nav-links a{
    transition: 0.3s ease;
    text-decoration: none;
    color: whitesmoke;
}
.nav-links a:hover{
    color: var(--primary);
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header-img {
    width: 100%;
    opacity: 40%;
    display: flex;
    align-items: center;
    padding-inline: 8vw;
}
.header-img img{
    width: 100%;
}

.header-content {
    margin-top: -5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    align-items: start;
    height: 100vh;
    width: 100%;

    padding-left: 2.5rem;
    text-shadow: 5px 5px 100px black;
}

.header-content h1 {
    font-size: 11.1rem;
    margin: 0px;
    color: var(--primary);

    margin-bottom: -2.1rem;
}

.header-content h2 {
    font-size: 1.54rem;
    margin-bottom: 5px;
    color: whitesmoke;
}

.header-content a {
    font-weight: 400;
    font-size: 1.05rem;

    text-decoration: none;
    color: black;
    border-radius: 4px;
    background-color: var(--primary);
    padding: 1rem 2rem;

    cursor: pointer;
    transition: 0.4s ease;
}

.header-content a:hover {
    background-color: var(--secondary);
}

#scroll-down{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    margin: 1.8rem 1.4rem;
    z-index: 20;
    background-image: url(media/scroll-down.png);
    transition: 0.4s ease;
}
#scroll-down:hover{
    background-image: url(media/scroll-down-hover2.png)
}

#features-section {
    position: relative;
    overflow: hidden;
    background-color: var(--primary);
}

#bg-video{
    opacity: 30%;
    width: 98.89vw;
}

.features{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.8vw;
    gap: 2vw;
    overflow-x: none;
}

#feat-heading{
    font-size: 5.7vw;
    text-shadow: 0 0 20px var(--primary);
    letter-spacing: -2px;
}

.feature-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vw 5vw 0 5vw;
    flex-wrap: wrap;
}

.features-box-left{
    width: 43vw;
    padding: 3vw;

    height: auto;
    background-color: rgb(13, 9, 19);
    color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.18vw;
}

.feature-text h1{
    color: var(--primary);
}
.feature-text p{
    margin: 1vw 0;
    font-size: 1.2vw;
}

.features-box-right{
    width: 42.5vw;
    height: auto;
    border-radius: 5px;
}


#end{
    height: 80vh;
    background-color: black;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12vh;
    overflow: hidden;

}
.end-content{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#end-heading{
    font-size: 5.7vw;
    letter-spacing: -2px;
    margin-top: -6rem;
}
.downloads{
    width: 100%;
    display: flex;
}
#download{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary);
    padding: 3rem;
    gap: 1.2rem;
    transition: 0.3s ease;
    border: 1px solid transparent;
    border-radius: 4px;
}
#download:hover{
    color: var(--secondary);
    border: 1px solid whitesmoke;
}
i{
    font-size: 7.7rem;
    
}

footer{
    height: 20vh;
    width: 100%;
    border-top: 2px solid #161616;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3.2rem;
    font-weight: 400;
    color: white;
    overflow: none;
}
.footer-links{
    display: flex;
    gap: 1.6rem;
    overflow: hidden;
}
.footer-links a{
    transition: 0.3s ease;
    text-decoration: none;
    color: whitesmoke;
}
.footer-links a:hover{
    color: var(--primary);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s ease;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0)
}
/* if someone does not want animations */
@media(prefers-reduced-motion){ 
    .hidden{
        transition: none; 
    }
}

::selection{
    color: black;
    background-color: var(--primary);
    text-shadow: 0 0 2px var(--primary);
}

::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track {
    background: #202020; 
}
::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #674b88; 
}